@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #300d38;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-geist-sans);
  }

  main {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1360px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  button {
    @apply cursor-pointer;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
